[Desktop Entry]
Name=Indie Gen
Comment=A pixel art editor with AI-assisted tools, forked from Pixelorama (Godot Engine)
Exec=godot --main-pack IndieGen.pck --maximized
Icon=icon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
